<div class="card-container">
  <div class="wrap">
  <%= form_with url: category_spots_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "searchTerm",
      placeholder: " Enter a city, an area, a spot... "
    %>
    <button type="submit" class="searchButton">
    <i class="fa fa-search"></i>
  <% end %>
  </div>

  <br>
  <% @spots.sort_by{|r| r.try(:rating)}.reverse.each do |spot| %>
      <%= link_to spot_path(spot), class:"link-card-spot" do %>
        <div class="card-spot">
            <%= image_tag spot.photo, class:"card-image" %>
            <div class="info-spot-card">
              <h3> <%= spot.name %></h3>
              <p> 📍<%=  spot.location%></p>
                <div class="spot-rating">
                  <div class="spot-stars">
                    <%  spot.rating.to_i.times do  %>
                      <i class="fa-solid fa-star"></i>
                    <% end %>
                  </div>
                  <div class="spot-reviews">
                    <%= spot.reviews.count+10  %> reviews
                  </div>
                </div>
            </div>
        </div>
      <% end %>
  <% end %>
</div>

<%# fa-regular fa-star"  TO DO ! %>
