<div class="spot">
  <div class="info-spot">
    <div class="picture-spot">
      <%= image_tag @spot.photo, height: 300, width: 300, crop: :fill %>
    </div>

      <div class="show-pres-spot p-4">
        <div class="spot-title-rating">
            <h3><%= @spot.name %></h3>
              <div class="show-rating-review">
                <div class="rating-star">
                  <strong><%= @spot.rating.to_i%></strong>
                  <i class="fa-solid fa-star"></i>
                </div>
                <div class="spot-reviews">
                <%= @spot.reviews.count+10 %> reviews
                </div>
              </div>
        </div>
          <p>📍<strong><%= @spot.location %></strong></p>
            <div class="line-5"></div>
              <h4>Description</h4>
                <%= @spot.description %>
                <div class="line-5"></div>
              <h4>Popular review</h4>
                <div class="review-text">
                  <% @reviews.each do |review| %>
                  "<%= review.comment %>"
                  <% end %>
                </div>
                  <div class="join-an-spot">
                    <%= link_to "Organize an event",  new_spot_event_path(@spot), class:"button-essential" %>
                  </div>
  </div>
</div>
