<div class="container-event">
  <div class="wrap">
  <%= form_with url: events_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "searchTerm",
      placeholder: " Enter a city, an area, a spot... "
    %>
    <button type="submit" class="searchButton">
    <i class="fa fa-search"></i>
  <% end %>
  </div>

  <div class="global-events-cards">
    <% @events.sort_by{|r| r.try(:event_date)}.each do |event| %>
        <%= link_to event_path(event), class:"link-card-event" do %>
          <div class="card-event">
            <%= image_tag event.spot.photo, class:"card-image" %>
            <div class="info-event-card">
                <h3> <%=  event.name %> </h3>
                    <p> 📍 <%= event.spot.name %></p>
                  <div class="event-date-card">
                    📆 <%= event.event_date.strftime("%Y-%m-%d") %>
                  </div>
                    <div class="event-profil-img">
                      <%= image_tag event.user.photo %>
                    </div>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
