<div class="eventform">
  <div class="title"><h1>Create a event</h1>
  </div>
  <%= simple_form_for [ @spot, @event]  do |f| %>
    <%= f.input :photo, as: :file, label: 'Choose a picture', class:'label'%>
    <%= f.input :name, label: 'Event name',
    placeholder: 'Your event name', class:'label'%>
    <%= f.input :event_date, html5: true, label: "Event date" %>
    <%= f.input :name, label: 'Event spot',
    placeholder: 'Your event spot', class:'label' %>
    <%= f.input :description, label: "Event description",
    placeholder: 'Your event description', class:'label' %>
    <div class="btn-new">
      <%= f.submit "Submit", class: 'btn button-essential' %>
    </div>
  <% end %>
</div>
