
<div class="event">
  <div class="info-event">
    <div class="picture-event">
      <%= image_tag @event.spot.photo, height: 300, width: 300, crop: :fill %>
    </div>

    <div class="show-pres p-4">
      <h3><%= @event.name %></h3>
      <p><%= @event.description %></p>
      <%= link_to "Join this event", bookmarks_path, class: "button-essential" %>
      <%= link_to "Back", spot_path %>
    </div>
    </div>
  </div>
</div>
