<div class="event">
  <div class="info-event">
    <div class="picture-event">
      <%= image_tag @event.photo, height: 300, width: 300, crop: :fill %>
    </div>
    <div class="show-pres p-4">
      <div class="event-name-picture">
        <div>
          <h3><%= @event.name %></h3>
          <p>🗓 <%= @event.event_date %> </p>
        </div>
          <%= image_tag current_user.photo %>
        </div>
        <div class="line-5"></div>
          <h4>Description</h4>
          <p><%= @event.description %></p>
            <div class="line-5"></div>
              <h4>Event place</h4>
              <p><%= @event.spot.location %></p>
              <div class="join-an-event">
                <%= link_to "Join the chat", event_chatroom_path(event_id: @event.id, id: @event.chatroom.id), class: "button-essential" %>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>
