<div class="category-index-container">
  <div class="wrapper-category-index">
    <div class="welcome-message-container">
      <h2>Hello <%=current_user.name%>!</h2>
    </div>
  </div>
  <div class="card-event-index">
    <h3>Upcoming TravellHer events!</h3>
    <%= link_to "See next events", events_path, class:"button-essential" %>
  </div>

  <div class= "wrapper-category-container">
    <div class="title-category">
      <h3>Choose a category</h3>
    </div>
    <div class= "container_category">
      <% @categories.each do |category| %>
        <div class= "category-card">
          <%= link_to category_spots_path(category) do %>
            <%= cl_image_tag category.photo.key, width:300, height: 300 %>
            <p class="category-name"> <%= category.name %> </p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
